@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");
.text {
  font-family: "Inter", sans-serif;
}
.header,
.section_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  width: 100%;
}

nav {
  transform: rotate(90deg);
  left: -14%;
  position: absolute;
  display: flex;
  gap: 3vw;
  /* text-decoration: none; */
  font-size: 1.1vw;
}

nav > a {
  color: white;
}

.header_bg {
  width: 100%;
}

.header_logo {
  position: absolute;
  width: 41%;
}

.header_descripcion {
  position: absolute;
  bottom: 7%;
  left: 10%;
  color: white;
  width: 30%;
  font-size: 0.81vw;
}
.stand_descripcion {
  position: relative;
  bottom: 7%;
  left: 54%;
  color: white;
  width: 22%;
  margin-left: 44px;
  font-size: 0.81vw;
  top: -34vw;
}

.stand_custom {
  width: 73%;
}

.stand_custom-images {
  width: 100%;
}

.footer {
  width: 100%;
  margin-top: -9px;
}

.fondLedup {
  width: 100%;
  margin-top: -13px;
  background-size: cover !important;
  background: url(https://firebasestorage.googleapis.com/v0/b/vassar-4f811.appspot.com/o/mesebau%2Fparte6_fondo.png?alt=media);
}

.logoImg {
  margin: 10px auto;
  display: flex;
}

.section_2 {
  display: block;
  width: 100%;
  height: 42vw;
  background-size: cover !important;
  background: url(https://firebasestorage.googleapis.com/v0/b/vassar-4f811.appspot.com/o/mesebau%2Fparte4_context.png?alt=media&token=4a4bf2f4-8c83-4dfa-b275-86db1cbcbcba);
}

.textPreDi {
  position: absolute;
  padding: 12vw 17vw 20vh 36vw;
  font-size: 1vw;
  left: 21pc;
  display: inline;
  color: white;
}
.btn2PreDi {
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  padding: 10px 25px;
  color: white;
  border-radius: 0px;
  display: inline-block;
  position: absolute;
  border: 1px solid white;
  display: grid;
  right: 43vw;
  top: 156vw;
}
